body{
  background: linear-gradient(
    360deg,
    #f7f5fc 0%,
    #f7f5fc 75%,
    #ffffff 75%);
  background-size:cover;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
